
@font-face {
  font-family: 'SakkalMajalla';
  src: url('SakkalMajalla.eot?#iefix') format('embedded-opentype'),  url('SakkalMajalla.woff') format('woff'), url('SakkalMajalla.ttf')  format('truetype'), url('SakkalMajalla.svg#SakkalMajalla') format('svg');
  font-weight: normal;
  font-style: normal;
}
