
@font-face {
  font-family: 'PoorRichard-Regular';
  src: url('PoorRichard-Regular.eot?#iefix') format('embedded-opentype'),  url('PoorRichard-Regular.woff') format('woff'), url('PoorRichard-Regular.ttf')  format('truetype'), url('PoorRichard-Regular.svg#PoorRichard-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
