
@font-face {
  font-family: 'SakkalMajallaBold';
  src: url('SakkalMajallaBold.eot?#iefix') format('embedded-opentype'),  url('SakkalMajallaBold.woff') format('woff'), url('SakkalMajallaBold.ttf')  format('truetype'), url('SakkalMajallaBold.svg#SakkalMajallaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
